
:root
{
    --dark_blue:#264653;
    --light_blue: #2a9d8f;
    --yellow: #e9c46a;
    --orange: #f4a261;
    --red: #e76f51;
}
body{margin: 0;
padding: 0;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}

#top
{
    background-color: var(--dark_blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}
#center-middle
{
    background-color: var(--light_blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 67%;
  
}
#middle
{
    display: flex;
    justify-content:space-between;
    height: 80vh;
    
}
ul
{
    list-style:none;
}
li
{
    padding: 10%;
    display: flex;
    align-items: center;
}
li:hover
{
    background-color: var(--red);
}
#sales-stats
{
    height: 50%;
}
#orders-stats
{
    height: 50%;
}
#right-middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;

    
}

#updates
{
    height: 50%;
   
   
}
#analytics
{
    height: 50%;
}